# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Model files (optional)
models/*.pkl

# Streamlit cache
.streamlit/

# Python cache
*.egg-info/